/* component */
.btn {
    display: block;
    width: 100%;
    > .text {
        display: block;
        border-radius: 5px;
    }
    &.ty1 {
        > .text {
            padding: 20px 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: #fff;
            background: $color01;
        }
        &:disabled {
            > .text {
                color: #898da4;
                background: $color03;
            }
        }
    }
    &.ty2 {
        > .text {
            padding: 18px 0;
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: $color01;
            border: 2px solid $color01;
        }
    }
    &.ty3 {
        > .text {
            padding: 6px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: $color01;
            border: 2px solid $color01;
            box-shadow: inset 3px 5px 5px 2px rgba(20, 26, 68, 0.01);
        }
        &:disabled {
            > .text {
                font-weight: normal;
                color: #898da4;
                background: $color03;
                border-color: $color03;
                box-shadow: none;
            }
        }
    }
    &.ty4 {
        > .text {
            padding: 6px 0;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #141a44;
            border: 1px solid #141a44;
            box-shadow: inset 3px 5px 5px 2px rgba(20, 26, 68, 0.01);
        }
    }
    &.ty5 {
        > .text {
            padding: 4px 0;
            line-height: 30px;
            color: $color01;
            border: 1px solid $color01;
        }
    }
}

.btnArea {
    display: flex;
    flex-direction: row;
    > .btn {
        flex: 1 1 0%;
        + .btn {
            margin-left: 5px;
        }
    }
}

.chkbox {
    position: relative;
    display: inline-block;
    vertical-align: top;
    > label {
        position: relative;
        display: block;
        > input {
            @include input;
            &[type="checkbox"] {
                + .text {
                    position: relative;
                    display: inline-block;
                    padding-left: 30px;
                    line-height: 22px;
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0px;
                        left: 0;
                        width: 22px;
                        height: 22px;
                        background: $color04 url(../images/common/ico_chk_01.png) no-repeat center center / 13px auto;
                        border-radius: 50%;
                        transition: 0.3s;
                    }
                }
                &:checked {
                    + .text {
                        &::before {
                            background-color: $color01;
                        }
                    }
                }
            }
            &[type="radio"] {
                + .text {
                    color: red;
                }
            }
        }
    }
    &.etc01 {
        > label {
            > input {
                &[type="checkbox"] {
                    + .text {
                        padding-left: 37px;
                        line-height: 28px;
                        &::before {
                            top: 0;
                            left: 0;
                            width: 28px;
                            height: 28px;
                            background: $color04 url(../images/common/ico_chk_02.png) no-repeat center center / 16px auto;
                        }
                    }
                    &:checked {
                        + .text {
                            &::before {
                                background-color: $color07;
                            }
                        }
                    }
                }
            }
        }
    }
    + .chkbox {
        margin-left: 30px;
    }
}

.textChkbox {
    display: inline-block;
    font-size: 0;
    > label {
        position: relative;
        display: inline-block;
        vertical-align: top;
        > input {
            @include input;
            + .text {
                position: relative;
                display: block;
                padding-left: 24px;
                font-size: 14px;
                line-height: 20px;
                color: $color05;
                background-image: url(../images/common/ico_chk_02_off.png);
                background-position: left 5px;
                background-size: 13px auto;
                background-repeat: no-repeat;
                transition: 0.3s;
            }
            &:checked {
                + .text {
                    color: $color07;
                    background-image: url(../images/common/ico_chk_02_on.png);
                }
            }
        }
    }
}

.detail-link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    text-indent: -999px;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        top: 5px;
        left: 2px;
        width: 9px;
        height: 9px;
        border-top: 1px solid #d0d1da;
        border-right: 1px solid #d0d1da;
        transform: rotate(45deg);
    }
}

.chkboxBlock {
    > label {
        position: relative;
        display: block;
        > input {
            @include input;
            + .text {
                position: relative;
                display: block;
                padding: 19px 20px 19px 56px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: #898da4;
                transition: 0.3s;
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 21px;
                    width: 22px;
                    height: 22px;
                    background: $color06 url(../images/common/ico_chk_01.png) no-repeat center center / 13px auto;
                    border-radius: 50%;
                    transform: translateY(-50%);
                    transition: 0.3s;
                }
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: 2px solid $color04;
                    transition: 0.3s;
                }
            }
            &:checked {
                + .text {
                    color: $color01;
                    &::before {
                        background-color: $color01;
                    }
                    &::after {
                        border-color: $color01;
                    }
                }
            }
        }
    }
    &.etc01 {
        > label {
            > input {
                + .text {
                    padding: 16px 20px 16px 66px;
                    font-size: 20px;
                    line-height: 28px;
                    &::before {
                        width: 28px;
                        height: 28px;
                    }
                }
            }
        }
    }
    &.etc02 {
        > label {
            > input {
                + .text {
                    padding: 13px;
                    text-align: center;
                    &::before {
                        content: none;
                    }
                }
            }
        }
    }
}

.chkboxBlockGroup {
    font-size: 0;
    > .chkboxBlock.etc02 {
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 5px);
        margin-top: 10px;
        &:nth-child(2n) {
            margin-left: 10px;
        }
        &:nth-child(-n + 2n) {
            margin-top: 0;
        }
    }
}

.radioTap {
    display: flex;
    flex-direction: row;
    font-size: 0;
    > label {
        position: relative;
        flex: 1 1 100%;
        text-align: center;
        > input {
            @include input;
            + .text {
                position: relative;
                display: block;
                padding: 11px 0;
                font-size: 16px;
                line-height: 28px;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 1px solid $color04;
                    transition: 0.3s;
                }
            }
            &:checked {
                + .text {
                    z-index: 1;
                    font-weight: bold;
                    color: $color01;
                    &::before {
                        border-color: $color01;
                    }
                }
            }
        }
        &:first-child {
            > .text {
                &::before {
                    border-radius: 10px 0 0 10px;
                }
            }
        }
        &:last-child {
            > .text {
                &::before {
                    border-radius: 0 10px 10px 0;
                }
            }
        }
        + label {
            margin-left: -1px;
            > input {
                + .text {
                    border-left: none;
                }
            }
        }
    }
    &.point {
        > label {
            > input {
                + .text {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        margin-top: -13px;
                        width: 5px;
                        margin-left: 6px;
                        border-bottom: 5px solid $color02;
                        border-radius: 50%;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                    }
                }
                &:checked {
                    + .text {
                        &:after {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    &.mini {
        > label {
            > input {
                + .text {
                    padding: 6px 0;
                }
                &:checked {
                    + .text {
                        &::before {
                            border-color: $color04;
                        }
                        &::after {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

.inputWrap {
    position: relative;
    overflow: hidden;
    > .label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        padding: 20px 0 20px 8px;
        font-weight: 700;
        font-size: 18px;
        line-height: 30px;
        + .inp {
            padding-left: 114px;
        }
    }
    > .inp {
        display: block;
        width: 100%;
        height: 70px;
        font-size: 18px;
        border: 1px solid #fff;
        border-bottom: 2px solid $color04;
        transition: 0.3s;
        @include ellipsis;
        &.on,
        &:focus {
            border-bottom: 2px solid $color01;
        }
        &.error,
        &.error:focus {
            border-bottom: 2px solid $color02;
        }
    }
    + .txt01 {
        padding: 8px 0 0 8px;
    }
}

.badge {
    display: inline-block;
    padding: 0 10px;
    line-height: 30px;
    background: #141a44;
    background: rgba(20, 26, 68, 0.05);
    &.ty1 {
        color: $color01;
    }
    &.ty2 {
        color: $color02;
    }
}


/* // component */