$color01 : #0000ff;
$color02 : #fe3b1f;
$color03 : #ededef;
$color04 : #d0d1da;
$color05 : #898da4;
$color06 : #b7bac8;
$color07 : #141a44;
$transition : opacity 0.3s, visibility 0.3s;

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin input {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* common */
.color01 {
    color: #0000ff !important;
}
.color02 {
    color: #fe3b1f !important;
}
.color03 {
    color: #ededef !important;
}
.color04 {
    color: #d0d1da !important;
}
.color05 {
    color: #898da4 !important;
}
.color06 {
    color: #b7bac8 !important;
}
.color07 {
    color: #141a44 !important;
}

.mt20 {
    margin-top: 20px !important;
}
.mt40 {
    margin-top: 40px !important;
}
.pb0 {
    padding-bottom: 0 !important;
}

.medium {
    font-weight: 500 !important;
}
.bold {
    font-weight: 700 !important;
}

.mtAuto {
    margin-top: auto;
}

.fullHeight {
    height: 100%;
}

.flex {
    display: flex;
    &.column {
        flex-direction: column;
    }
    .sb {
        justify-content: space-between;
    }
}

.flexNone {
    flex: none !important;
}

.bottomContent {
    margin-top: auto;
    padding-top: 30px;
    .inCont + .footCont {
        margin-top: 30px;
    }
    .txtBox + .btn {
        margin-top: 30px;
    }
}

.helpCont {
    text-align: right;
    > a {
        display: inline-block;
        width: 120px;
        padding: 4px 5px;
        border-radius: 50px;
        box-shadow: 3px 3px 7px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid rgba(208, 209, 218, 0.5);
        > .text {
            display: block;
            padding-left: 50px;
            line-height: 40px;
            text-align: left;
        }
        &.channelTalk {
            > .text {
                background: url(../images/common/ico_channeltalk.png) no-repeat left center / 40px auto;
            }
        }
    }
}

.footCont {
    position: relative;
    overflow: hidden;
    .inner {
        display: flex;
        flex-direction: row;
        background: #f3f4f7;
        > a {
            flex: 1 1 0%;
            padding: 27px 0 24px 0;
            text-align: center;
            > .text {
                display: inline-block;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $color04;
            }
            &.r3 {
                > .text {
                    padding-left: 35px;
                    background: url(../images/common/ico_r3.png) no-repeat left center;
                }
            }
            &.analysis {
                > .text {
                    padding-left: 30px;
                    background: url(../images/common/ico_analysis.png) no-repeat left center;
                }
            }
            &.on {
                > .text {
                    color: $color01;
                }
                &.r3 {
                    > .text {
                        background: url(../images/common/ico_r3_on.png) no-repeat left center;
                    }
                }
                &.analysis {
                    > .text {
                        background: url(../images/common/ico_analysis_on.png) no-repeat left center;
                    }
                }
            }
        }
    }
}

.hTitle {
    font-weight: 700;
    &.ty1 {
        font-size: 35px;
        line-height: 45px;
    }
    &.ty2 {
        font-size: 24px;
        line-height: 30px;
    }
    &.ty3 {
        font-size: 20px;
        line-height: 30px;
    }
    &.ty4 {
        font-size: 18px;
        line-height: 30px;
    }
    &.ty5 {
        font-size: 16px;
        line-height: 24px;
        + .txt02 {
            margin-top: 17px;
        }
    }
}

.txt01 {
    font-size: 14px;
    color: $color05;
    line-height: 21px;
}

.txt02 {
    font-size: 16px;
    color: $color05;
    line-height: 24px;
}
.txtTel {
    padding-left: 30px;
    line-height: 24px;
    background: url(../images/common/ico_tel.png) no-repeat left center / 22px auto;
    a {
        display: inline-block;
        margin-left: 3px;
        color: $color07;
        text-decoration: underline;
    }
}

.color02 {
    color: $color02 !important;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: 100%;

    .container {
        flex-grow: 1;
        padding: 35px 0 30px 0;
        overflow: auto;
        .inCont {
            padding: 0 22px;
        }
    }
}
.fullPopup {    
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    &--title {
        padding-right: 40px;
    }
    .closeBtn {
        position: absolute;
        top: 35px;
        right: 35px;
        > span {
            position: relative;
            display: block;
            width: 25px;
            height: 25px;
            text-indent: -999px;
            overflow: hidden;
            &::before {
                content: '';
                position: absolute;
                top: 8px;
                left: 5px;
                width: 22px;
                border-bottom: 3px solid $color07;
                transform: rotate(45deg);
            }
            &::after {
                content: '';
                position: absolute;
                top: 8px;
                right: -2px;
                width: 22px;
                border-bottom: 3px solid $color07;
                transform: rotate(135deg);
            }
        }
    }
    &.wrap {
        .container {
            padding-top: 25px;
        }
    }
}

.userWrap {
    flex: none;
    position: relative;
    padding: 36px 30px 30px 30px;
    background: #0000ff;
    .side {
        position: absolute;
        bottom: -30px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        &.left {
            left: 0;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 60px;
                height: 60px;
                background: transparent;
                border-radius: 50%;
                -webkit-box-shadow: 0px 0px 0px 10000px #0000ff;
                        box-shadow: 0px 0px 0px 10000px #0000ff;
            }
            
        }
        &.right {
            right: 0;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 60px;
                height: 60px;
                background: transparent;
                border-radius: 50%;
                -webkit-box-shadow: 0px 0px 0px 10000px #0000ff;
                        box-shadow: 0px 0px 0px 10000px #0000ff;
            }
        }

    }
}

.userWrapInfo {
    position: relative;
    padding-right: 50px;
    .alarm {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 39px;
        background: url(../images/common/ico_bell.png) no-repeat;
        overflow: hidden;
        text-indent: -999px;
    }
}

.profile {
    font-size: 0;
    .thumb {
        display: inline-block;
        vertical-align: top;
        width: 75px;
        border-radius: 30px;
        overflow: hidden;
        img {
            display: block;
            width: 100%;
        }
    }
    .desc {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 75px);
        padding-top: 11px;
        padding-left: 20px;
        .name {
            font-weight: 700;
            font-size: 22px;
            line-height: 30px;
            color: #fff;
        }
        .detail {
            font-size: 16px;
            line-height: 28px;
            color: #f3f4f7;
        }
    }
}

/* // common */