/* element */
.list01 {
    > li {
        position: relative;
        padding-left: 13px;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.5px;
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            left: 0;
            width: 5px;
            border-bottom: 5px solid #d0d1da;

        }
        + li {
            margin-top: 5px;
        }
    }
}

.list02 {
    > li {
        padding-left: 32px;
        color: $color07;
        line-height: 20px;
        opacity: 0.5;
        background: url(../images/common/ico_chk_03.png) no-repeat left top / 21px auto;
        + li {
            margin-top: 20px;
        }
        &.on {
            opacity: 1;
        }
    }
}

.list03 {
    > li {
        display: flex;
        flex-direction: row;
        > .num {
            flex: none;
            font-weight: 700;
            line-height: 24px;
            color: $color01;
        }
        .cont {
            flex: 1 1 0%;
            padding-left: 4px;
            > .tit {
                display: block;
                font-weight: 700;
                line-height: 24px;
                color: $color01;
            }
            > .desc {
                padding: 4px 0 8px 0;
                font-size: 14px;
                color: $color05;
            }
        }
    }
}

.agrList {
    li {
        font-size: 0;
        + li {
            margin-top: 10px;
        }
        label + .detail-link {
            margin-left: 3px;
        }
    }
    .chkboxBlock + & {
        margin-top: 20px;
    }
}

.dList {
    > li {
        display: flex;
        flex-direction: row;
        > .tit {
            flex: 1 1 0%;
            font-weight: normal;
            line-height: 30px;
        }
        > .cont {
            flex: 1 1 0%;
            line-height: 30px;
            text-align: right;
        }
        &.top {
            + li {
                margin-top: 5px;
            }
        }
    }
}

.txtBox {
    padding: 16px 25px 19px 25px;
    background: $color03;
    > dt {
        position: relative;
        margin-bottom: 8px;
        padding-left: 26px;
        font-weight: 700;
        line-height: 24px;
        color: $color01;
        background-position: left 2px;
        background-size: 20px auto;
        background-repeat: no-repeat;
        &.ty1 {
            background-image: url(../images/common/ico_noti01.png);
        }
        &.ty2 {
            background-position: left 2px;
            background-size: 18px auto;
            background-image: url(../images/common/ico_noti02.png);
        }
        &.ty3 {
            background-image: url(../images/common/ico_noti03.png);
        }
    }
    > dd {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $color05;
    }
}

.cardEle {
    position: relative;
    padding: 20px 10px 25px 10px;
    border-radius: 15px;
    border: 1px solid $color03;
    &__top {
        padding: 0 10px 10px 10px;
        border-bottom: 1px solid $color03;
    }
    &__cont {
        padding: 15px 10px 0 10px;
        .btnArea {
            margin-top: 25px;
        }
    }
}

.chkCard {
    position: relative;
    padding: 20px 18px;
    > label {
        display: block;
        > input {
            @include input;
            + .cont {
                display: block;
                color: $color05;
                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $color04;
                    border-radius: 5px;
                    transition: 0.3s;
                    pointer-events: none;                    
                }
                &.ty1 {
                    padding-left: 28px;
                    background: url(../images/common/ico_chk_04_off.png) no-repeat left 8px / 15px auto;
                    transition: 0.3s;
                    .conts {
                        display: block;
                        line-height: 28px;
                        + .conts {
                            margin-top: 2px;
                        }
                    }
                }
                .rst {
                    display: flex;
                    margin-top: 16px;
                    justify-content: space-between;
                    font-size: 20px;
                }
            }
            &:checked {
                + .cont {
                    color: $color07;
                    &::after {
                        border-color: $color01;
                    }
                    &.ty1 {
                        
                        background-image: url(../images/common/ico_chk_04_on.png);
                    }
                }
            }
        }
    }
    .btnArea {
        margin-top: 15px;
    }
}


/* // element */